<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906400327488-enj0r6pn80ho3in3gucp1je1vg9un4nj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906400327488-enj0r6pn80ho3in3gucp1je1vg9un4nj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>906400327488-o2buro9qu0jmj6k7o0c7ifvuc77sd5bm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC6B0sTrywbcJsVzLGVS02p5kLDp9Anq8c</string>
	<key>GCM_SENDER_ID</key>
	<string>906400327488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.oculosdanilo.gatopedia</string>
	<key>PROJECT_ID</key>
	<string>fluttergatopedia</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttergatopedia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906400327488:ios:399d5996939260a791fca5</string>
	<key>DATABASE_URL</key>
	<string>https://fluttergatopedia-default-rtdb.firebaseio.com</string>
</dict>
</plist>